<!-- Header Hero -->
<header class="hero">
  <div class="container-fluid">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To {{ site.name }}</div>
      <div class="intro-heading">
        <h2 class="cd-headline letters rotate-2">
          <span class="bold"> WE MAKE GREAT  </span>
          <span class="cd-words-wrapper">
            <span class="letters-container">
              <b class="is-visible letters-websites">WEBSITES</b>
              <b class="letters-apps">APPS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
              <b class="letters-designs">DESIGNS&nbsp;&nbsp;</b>
            </span>
            <!-- <b class="is-visible">Creative</b> -->
            <!-- <b>Modern</b> -->
            <!-- <b>Friendly</b> -->
          </span>
        </h2>
        <a href="#services" class="page-scroll btn btn-xl hero-tell-more">Tell Me More</a>
      </div>
    </div>
    <ul class="hero-social">
      <li><a href="#"><i class="fa fa-facebook"></i></a>
      </li>
      <li><a href="#"><i class="fa fa-twitter"></i></a>
      </li>
      <li><a href="#"><i class="fa fa-instagram"></i></a>
      </li>
    </ul>
</header>
