<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We consistently exceed the expectations of our clients</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web & Mobile Development</h4>
                    <p class="text-muted">Whether you need a website, or a mobile app, our developers can help bring your ideas to life. Our team will work to deliver a stunning product that is both uniquely designed and effective across devices.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Social Media Marketing</h4>
                    <p class="text-muted">By working together, we can develop and implement social media strategies that will engage your users as well as capture new ones across various social sites. From paid to organic reach, we've got you covered.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Graphic Design</h4>
                    <p class="text-muted">Captivating your users goes beyond functionality. Let’s make people fall in love with your product at first sight. Our experienced designers will make your website, app, or logo beautiful in every way.</p>
                </div>
            </div>
        </div>
    </section>